node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.sqlite
*.sqlite3
dist/
build/
coverage/
.vscode/
.idea/
*.swp

# Ignore OS-specific files
Thumbs.db
*.bak

# Ignore dependencies and package lock files (if using Yarn or npm)
package-lock.json
yarn.lock

# Ignore compiled files
*.out
*.o

# Ignore SSL certificates (if any)
*.pem

# Ignore Postman-related files
postman/
*.postman_collection.json