@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
.resultContainer {
    height: calc(80vh); // Adjust based on your layout
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    background-color: #343541;
    
  
    .messageList {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-family: "Atkinson Hyperlegible Mono";
  
      .message {
        display: flex;
        padding: 20px;
        font-family: "Atkinson Hyperlegible Mono";
        
        &:nth-child(odd) {
          background-color: #444654;
        }
  
        .messageContent {
          color: #ffffff;
          font-size: 16px;
          line-height: 1.5;
          max-width: 800px;
          margin: 0 auto;
          width: 100%;
          font-family: "Atkinson Hyperlegible Mono";
        }
      }
    }
  }
  